<div class="div-container">
  <h1>Lista de Técnicos</h1>
  <button routerLink="create" class="mat-elevation-z8 mb-5" mat-stroked-button color="primary">Novo Técnico</button>
  <div class="row">
     
    <div class="col-md-11">
       <mat-form-field appearance="standard">
          <mat-label>Nome Cliente</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Nome Cliente" #input>
       </mat-form-field>
    </div>
    <!-- <div class="col-md-1">
       <label class="col-form-label-sm custom-select-label">Itens por página</label>
       <select id="quantidadeRegistrosPagina" name="quantidadeRegistrosPagina" class="form-control form-control-sm"
          [(ngModel)]="tamanho" (change)="mudarPagina($event)">
          <option *ngFor="let item of pageSizeOptions" [ngValue]="item.quantidade" [selected]="10"> {{ item.quantidade
             }} </option>
       </select>
    </div> -->
    <div class="col-md-1">
       <mat-form-field appearance="fill">
          <mat-label>Itens por página</mat-label>
          <select matNativeControl [(ngModel)]="tamanho" name="tamanho" (change)="mudarPagina($event)">
             <option *ngFor="let item of pageSizeOptions" [ngValue]="item.quantidade" [selected]="10">
              {{item.quantidade}}
            </option>
          </select>
        </mat-form-field>
    </div>

 </div>

  <p-table #dt [value]="tecnicos" dataKey="id" [rowHover]="true" [rows]="tamanho" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="pageSizeOptions" [paginator]="false" [totalRecords]="totalElementos"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} itens" [filterDelay]="0"
    styleClass="p-datatable-striped">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width: 6rem">Código <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="nome" style="width: 8rem">Nome <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th pSortableColumn="cpf" style="width: 20rem">CPF <p-sortIcon field="cpf"></p-sortIcon>
        </th>
        <th pSortableColumn="email" style="width: 8rem">E-mail <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th style="width: 8rem">Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr class="p-selectable-row">
        <td> <span class="p-column-title">Código</span> {{item.id}} </td>
        <td> <span class="p-column-title">Nome</span> {{item.nome}} </td>
        <td> <span class="p-column-title">CPF</span> {{item.cpf}} </td>
        <td> <span class="p-column-title">E-mail</span> {{item.email }} </td>
        <td> <span class="p-column-title">Status</span>
          <a routerLink="update/{{item.id}}">
            <i class="material-icons edit">edit</i>
          </a>
          <a routerLink="delete/{{item.id}}">
            <i class="material-icons delete">delete</i>
          </a>
        </td>
      </tr>

    </ng-template>



    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center">Nenhuma Venda encontrada.</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- <mat-paginator [length]="totalElementos" [pageSize]="tamanho" [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="firstLastButtons" (page)="paginar($event)">
     evento de paginar
  </mat-paginator> -->
  <app-paginacao [qdtPaginas]="qdtPaginas" [itensgrid]="itensgrid" [itemsPerPage]="tamanho" [last]="last"
    [totalItems]="totalElementos" (onPaginate)="mudarPagina($event)">
  </app-paginacao>

</div>