html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    margin: 0;
    padding: 0;
    zoom: .80;
  }
  
  .container {
    width: 35rem;
    margin: auto;
    padding: 1rem;
    border-radius: .6rem;
  }
  
  
  
  .full-width {
    width: 100%;
  }
  
  h1, p {
    text-align: center;
  }
  
  img {
    height: 12rem;
    margin: auto;
  
  
  }
  
  .section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  button {
    margin-top: 1rem;
  }
  
  p {
    margin-top: 3rem;
    opacity: .5;
  }
  
  mat-icon {
    opacity: .8;
  }
  
  @media (max-width: 768px) {
  
    .container {
      width: 140%;
      margin-left:-2.5625rem;
      padding: 1rem;
      border-radius: .6rem;
    }
  
  }