<div class="div-container">

   <h1>Listando chamados</h1>

   <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="primary">Novo chamado</button>
   <div class="row mt-5">
     
      <div class="col-md-11">
         <mat-form-field appearance="standard">
            <mat-label>Titulo</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Chamado" #input>
         </mat-form-field>
      </div>
      <!-- <div class="col-md-1">
         <label class="col-form-label-sm custom-select-label">Itens por página</label>
         <select id="quantidadeRegistrosPagina" name="quantidadeRegistrosPagina" class="form-control form-control-sm"
            [(ngModel)]="tamanho" (change)="mudarPagina($event)">
            <option *ngFor="let item of pageSizeOptions" [ngValue]="item.quantidade" [selected]="10"> {{ item.quantidade
               }} </option>
         </select>
      </div> -->
      <div class="col-md-1">
         <mat-form-field appearance="fill">
            <mat-label>Itens por página</mat-label>
            <select matNativeControl [(ngModel)]="tamanho" name="tamanho" (change)="mudarPagina($event)">
               <option *ngFor="let item of pageSizeOptions" [ngValue]="item.quantidade" [selected]="10">
                {{item.quantidade}}
              </option>
            </select>
          </mat-form-field>
      </div>

   </div>

   <mat-radio-group color="primary">

      <mat-radio-button (click)="orderByStatus(0)" value="0">ABERTO</mat-radio-button>
      <mat-radio-button (click)="orderByStatus(1)" value="1">ANDAMENTO</mat-radio-button>
      <mat-radio-button (click)="orderByStatus(2)" value="2">ENCERRADO</mat-radio-button>
   </mat-radio-group>


   <p-table #dt [value]="chamados" dataKey="id" [rowHover]="true" [rows]="2" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[2,10,20,30,40,50]" [paginator]="false"
      currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} itens" [filterDelay]="0"
      styleClass="p-datatable-striped">

      <ng-template pTemplate="header">
         <tr>
            <th pSortableColumn="id" style="width: 6rem">Código <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="titulo" style="width: 8rem">Titulo <p-sortIcon field="titulo"></p-sortIcon>

            <th pSortableColumn="nomeCliente" style="width: 8rem">Cliente <p-sortIcon field="nomeCliente"></p-sortIcon>

            <th pSortableColumn="nomeTecnico" style="width: 8rem">Técnico <p-sortIcon field="nomeTecnico"></p-sortIcon>

            <th pSortableColumn="dataAbertura" style="width: 8rem">Data de Abertura <p-sortIcon field="dataAbertura">
               </p-sortIcon>

            <th pSortableColumn="prioridade" style="width: 8rem">Prioridade<p-sortIcon field="prioridade"></p-sortIcon>
            </th>
            <th pSortableColumn="status" style="width: 20rem">Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th style="width: 8rem">Ações</th>
         </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
         <tr class="p-selectable-row">
            <td> <span class="p-column-title">Código</span> {{item.id}} </td>
            <td> <span class="p-column-title">Titulo</span> {{item.titulo}} </td>
            <td> <span class="p-column-title">Cliente</span> {{item.nomeCliente}} </td>
            <td> <span class="p-column-title">Técnico</span> {{item.nomeTecnico}} </td>
            <td> <span class="p-column-title">Data de Abertura</span> {{item.dataAbertura}} </td>
            <td> <span class="p-column-title">Prioridade</span> {{retornaPrioridade(item.prioridade)}} </td>
            <td> <span class="p-column-title">Status</span> {{retornaStatus(item.status)}} </td>
            <td> <span class="p-column-title">Ações</span>
               <a routerLink="update/{{ item.id }}">
                  <i class="material-icons edit">edit</i>
               </a>
               <a routerLink="read/{{ item.id }}">
                  <i class="material-icons delete">visibility</i>
               </a>
            </td>
         </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
         <tr>
            <td colspan="12" class="text-center">Nenhum Serviço encontrado.</td>
         </tr>
      </ng-template>
   </p-table>

   <app-paginacao [qdtPaginas]="qdtPaginas" [itensgrid]="itensgrid" [itemsPerPage]="tamanho" [last]="last"
      [totalItems]="totalElementos" (onPaginate)="mudarPagina($event)">
   </app-paginacao>

   <!-- <ng-template #cardMobile>
       <table mat-table [dataSource]="dataSource">
 
          <ng-container matColumnDef="id">
             <th mat-header-cell *matHeaderCellDef> Código </th>
             <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
 
          <ng-container matColumnDef="titulo">
             <th mat-header-cell *matHeaderCellDef> Titulo </th>
             <td mat-cell *matCellDef="let element"class="truncate-cell"> {{element.titulo}} </td>
          </ng-container>
 
          <ng-container matColumnDef="cliente">
             <th mat-header-cell *matHeaderCellDef> Cliente </th>
             <td mat-cell *matCellDef="let element"class="truncate-cell"> {{element.nomeCliente}} </td>
          </ng-container>
 
          <ng-container matColumnDef="tecnico">
             <th mat-header-cell *matHeaderCellDef> Técnico </th>
             <td mat-cell *matCellDef="let element"class="truncate-cell"> {{element.nomeTecnico}} </td>
          </ng-container>
 
          <ng-container matColumnDef="dataAbertura">
             <th mat-header-cell *matHeaderCellDef> Data de Abertura </th>
             <td mat-cell *matCellDef="let element"> {{element.dataAbertura}} </td>
          </ng-container>
 
          <ng-container matColumnDef="prioridade">
             <th mat-header-cell *matHeaderCellDef> Prioridade </th>
             <td mat-cell *matCellDef="let element"> {{retornaPrioridade(element.prioridade)}} </td>
          </ng-container>
 
          <ng-container matColumnDef="status">
             <th mat-header-cell *matHeaderCellDef> Status </th>
             <td mat-cell *matCellDef="let element" class="truncate-cell"> {{retornaStatus(element.status)}} </td>
          </ng-container>
 
          <ng-container matColumnDef="acoes">
             <th mat-header-cell *matHeaderCellDef> Ações </th>
             <td mat-cell *matCellDef="let element">
                <a routerLink="update/{{ element.id }}">
                   <i class="material-icons edit">edit</i>
                </a>
                <a routerLink="read/{{ element.id }}">
                   <i class="material-icons delete">visibility</i>
                </a>
             </td>
          </ng-container>
 
          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
       </table>
 
       <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
   </ng-template> -->

</div>