.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

button {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.edit {
  color: rgb(61, 93, 162)
}

.delete {
  color: red;
}

.truncate-cell {
  max-width: 60px;
  /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {

  .container {
    width: auto;
    margin: auto;
    padding: 1rem;
    border-radius: .6rem;
  }



}